<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script defer src="main.js"></script>
  <link rel="stylesheet" href="../resources/problemStyle.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="card problema">
    <i class="js-logo"></i>
    <h1 class="reto">Reto #X</h1>
    <h2 class="tema">TEMA</h2>
    <b>Dificultad:</b> x<br>
    <b>Enunciado:</b>
  </div>
  <div class="card" id="res">
    <span class="res">Resultado</span>
  </div>
</body>

</html>